HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

frontend/build-qt-Desktop_Qt_5_14_2_clang_64bit-Debug/
frontend/build-qt-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/
frontend/build-qt-Desktop_Qt_5_14_2_MinGW_64_bit-Release/
frontend/build-qt-Desktop_x86_darwin_generic_mach_o_64bit-Debug/
build-qt-Desktop_Qt_5_14_2_clang_64bit-Debug/

database

.DS_Store
